body {
    margin: 0;
    padding: 0;
}

nav {
    height: 90px;
    border-bottom: #cccccc solid 1px;
}

.navbar-brand {
    padding-top: 0;
    float: none;
}

.navbar-header {
    float: left;
    padding: 0 15px;
    text-align: center;
    width: 30%;
}

#navbar-left-elements {
    width: 30%;
    padding: 0;
    margin: 0;
}
#navbar-right-elements {
    width: 30%;
    padding: 0;
    margin: 0;
}

.carousel-inner img {
    height:100%;
    width:100%;
}

.navbar-toggler {
    float: left;
    position: fixed;
}

.nav-element-left {
    padding: 9px 0;
    margin-left: 65px;
}

#contact-text {
    color: #333333;   
}
#contact-text:hover {
    text-decoration: none;
    color: blue;
}

.nav-element-right {
    float: right;
    margin: 0 10px;
}

.login-form {
    width: 80%;
}

.form-element {
    margin: 20px 0;
}

.error-messages {
    color: #c40404;
    justify-content: left;
}


.sidenav {
    height: 100%; /* 100% Full-height */
    width: 0; /* 0 width - change this with JavaScript */
    position: fixed; /* Stay in place */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #111; /* Black*/
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 60px; /* Place content 60px from the top */
    transition: 0.5s; /* 0.5 second transition effect to slide in the sidenav */
  }
  
  /* The navigation menu links */
  .sidenav a {
    padding: 8px 8px 8px 32px;
    text-decoration: none;
    font-size: 25px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  /* Position and style the close button (top right corner) */
  .sidenav .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 36px;
    margin-left: 50px;
  }
  
  /* Style page content - use this if you want to push the page content to the right when you open the side navigation */
  #main {
    transition: margin-left .5s;
  }

  .top-padding {
      padding-top: 100px;
  }

  
  /* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }